.header-container {
    margin-top: 50px;
    /* width: 100%; */
}
.nav-container{
    width: 100%;
	height: 80px;
	display: flex;
	justify-content: flex-end;
	flex-flow: row;
	align-items: center;
	background-color: #ffffff;
	position: fixed;
    top: 0;
    z-index: 1000;

}
.btn{
    margin-left: 1.5rem;
    border: transparent;
    color:rgb(172, 170, 170);
    border-radius: 10px;
    padding: 10px;
    font-size: 15px;
    font-weight: bold;
    background: white;
    /* margin: 20px; */
    justify-content: flex-start;
}
.btn:hover { 
    background-color: #ddddddb9;
  }

#search-input{
    background-color: #ddddddb9;
    border-color: #d6d2d2;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* background-color: transparent; */
    border: 0;
    border-radius: 4px;
    box-shadow: none;
    box-sizing: border-box;
    color: rgb(172, 170, 170);
    font-size: 16px;
    font-weight: 600;
    /* height: 100%; */
    line-height: 20px;
    outline: none;
    padding: 10px 40px 10px 52px;
    /* margin-top: 20px; */
    width: 58%;
}
#iconPinteres{
    font-size: 35px;
    color: #e60023;
    margin-top: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    /* margin: 20px; */
}
#icon{
    font-size: 30px;
    color: rgb(172, 170, 170);
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

#icon-user{
    font-size: 15px;
    margin: 0 5px;
}

