.cards{
    column-count: 5;
    /* column-gap: 2px; */
    /* padding: 10px;
    margin: 20px 15px 10px 15px; */
    display: inline-block;
    padding-top: 30px;


}
img {
    border-radius: 12px;
    margin-bottom: 5px;
}
